.button {
    background-color: var(--yellow);
    border: none;
    outline: none;
    padding: 1rem 2rem;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: .9rem;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    border: 3px transparent solid;
    text-decoration: none;
  }
  .button:hover {
    background-color: transparent;
    border: 3px var(--yellow) solid;
    color: var(--yellow);
  }
  
  .button-social {
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .button--home {
    width: 30%;
  }
  .button--banner {
    margin-left: 6rem;
  }
  .button--option {
    width: 50%;
  }
  @media only screen and (min-width:250px) and (max-width: 768px) {
    .button--option {
      width: 70%;
    }

 
  }