@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
:root {
  --yellow: rgb(252, 183, 43);
  --darknavy: rgb(73, 85, 103);
  --dimgrey: rgb(147, 156, 170);
  --lightgrey: rgb(229, 236, 244);
  --snow:  rgb(242, 245, 249);
  --lightyellow: rgb(255, 244, 223)
}
.App {
  text-align: center;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
html, body {

  overflow-x: hidden;
  font-family: 'Space Mono', monospace;
}
h4 {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  letter-spacing: -1.7px;
  color:  #495567;
  line-height: 1.1;
  font-size: 3rem;
}
h5 {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  letter-spacing: -1.7px;
  color:  #495567;
  line-height: 1.1;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
h2 {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  letter-spacing: -1.7px;
  color:  #495567;
  line-height: 1.1;
  font-size: 3rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h6 {
  color: #495567;
}
p {
  font-family: 'Lexend Deca', sans-serif;
  color: rgb(147, 156, 170);
  line-height: 1.8;
}
a {
  text-decoration: none;
}
.accent {
  font-weight: 700;
  text-decoration: underline var(--yellow);
}
.explore {
  width: 100%;
  display: flex;
  gap: 2rem;
}
.card {
  width: 33%;
  display: flex;
  flex-direction: column;
 
  align-items: center;
}
.card__image {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;

  position: relative;
  margin-bottom: 5rem;
}
.card__image--tech {
  background-image: url(/src/assets/images/our-tech.jpg);
}
.card__image--integrity {
  background-image: url(/src/assets/images/our-integrity.jpg);
}
.card__image--community {
  background-image: url(/src/assets/images/our-community.jpg);
}

.card:first-child .card__image::after {
  content: '01';
}
.card:last-child .card__image::after {
  content: '03';
}
.card__image::after {
  content: '02';
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 1.4rem;
  background-color: #FCB72B;
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  bottom: -20%;
  left: 30%;
}
.values-cards {
  width: 100%;
  display: flex;
  gap: 2rem;
  text-align: center;
}
.faqs {
  display: flex;
  flex-direction: column;
  padding: 3.5rem 12rem
}
.faqs h4 {
  margin: auto;
  font-size: 3rem;
  margin-bottom: 3rem;
}
.faqs__content {
  width: 100%;
  display: flex;
  
}
.faqs__content h5 {
  width: 40%;
  text-align: center;
  font-size: 2rem;
  position: relative;
}

.faqs__content .questions {
  width: 60%;
  margin-bottom: 6rem;
}
.questions section {
  margin-bottom: 1rem;
  background-color: #F2F5F9;
  padding: 1.5rem 2rem;
}
.questions section:hover {
  background-color: #FFF4DF;
}
.questions h6 {
  font-size: 1.5rem;
cursor: pointer;
  position: relative;

  font-family: 'Space Mono', monospace;
  font-weight: 700;
}
.questions p{
  margin-top: 1rem;
  display: none;
}
.questions p.show {
  display: block;
}
.questions h6:after {
  content: '';
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 0;
  
  background-image: url(/src/assets/images/chevron.svg);
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all .1s;
}
.questions .rotate:after {
  transform: rotate(180deg);
}




.navBanner {
  width: 100%;
  height: 5rem;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  padding: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.banner {
  width: 100%;
  height: 13rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 12rem;
  margin-bottom: 3.5rem;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  background-size: cover;
}






.dots img {
 width: 115%;
 
}


.middle {
  gap: 3.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 8rem 7rem;
  position: relative;
}
.line {
  min-height: 1rem;
  background-color: #e5ecf4;
  width: 78%;
  position: absolute;
  left: -5rem;
}
.line .circle {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  padding: 1rem 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: hsl(43deg, 78%, 98%);
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(50%);
}
.circle:nth-child(1) {
  left: 17%;
  bottom: 0;
  background-image: url(/src/assets/images/locate.svg);
}
.line .circle:nth-child(2) {
  background-image: url(/src/assets/images/scooter.svg);
  left: 55%;
  bottom: 0;
}
.line .circle:nth-child(3) {
  background-image: url(/src/assets/images/ride.svg);
  left: 92%;
  bottom: 0;
}
.stages {
  padding-top: 10%;
  display: flex;
  width: 100%;
  gap: 5rem;
}

.stages div {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.stages div h2 {

  font-size: 1.8rem;
  word-wrap: break-word;
  width: 100%;
}
.stages div p {
  color: hsl(215deg, 5%, 54%);
  width: 100%;
  line-height: 1.5;
}

.picture--telemetry {
  background-image: url(/src/assets/images/telemetry.jpg);
}
.picture--near-you {
  background-image: url(/src/assets/images/near-you.jpg);
}
.picture--payments {
  background-image: url(/src/assets/images/payments.jpg);
}
.picture--digitalera {
  background-image: url(/src/assets/images/digital-era.jpg);
}
.picture--betterliving {
  background-image: url(/src/assets/images/better-living.jpg);
}
.picture--join-us {
  background-image: url(/src/assets/images/join-us.jpg);
}
.careers {
  width: 70%;
  margin: auto;
  
  padding-bottom: 5rem;
}
.careers-option {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F2F5F9;
  padding: 2rem 4rem;
  margin-bottom: 1rem;
}
.careers-option button {
  width: 23%;
}
.careers-option__title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.career-title {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 1.3rem;
}
.values {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 3.5rem 12rem;
}
.values__title {
  margin: auto;
  font-size: 3rem;
}
.map {
  width: 100%;
  height: 100vh;
  background-image: url(/src/assets/images/world-map-desktop.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.map-picture {
  display: none;
}
.pin {
  position: absolute;
  background: #FCB72B;
  padding: .7rem 1.3rem;
  font-weight: 700;
  color: #495567;
  z-index: 2;
  
}
.pin::after {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: #FCB72B;
  bottom: -15%;
  right: 50%;
  position: absolute;
  transform: rotate(45deg);
  z-index: 1;
}
.pin-1 {
  left: 26%;
  top: 28%;
}
.pin-2 {
  left: 43%;
  top: 18%;
}
.pin-3 {
  left: 70%;
  top: 45%;
}
.pin-4 {
  left: 72%;
  top: 28%;
}

.location-info {
  width: 100%;
  display: flex;
  padding: 3rem 12rem;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  margin: auto;
}
.location-info button {
  width: 18%
}
.location-info__title {
  font-size: 3rem;
  width: 25%;
}
.location-info__content {
  width: 38%;
  margin-right: 4rem;
}
.signup {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
 align-items: center;
 padding-top: 2rem;
 position: relative;

}
.signup::after {
  width: 48rem;
  height: 10rem;
  content: "";
  position: absolute;
  background-image: url(/src/assets/images/left-downward-arrow.svg);
  background-repeat: no-repeat;
  z-index: 8;
  bottom: 15%;
  right: -10%
}
.signup form {
  width: 20rem;
  height: 20rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.signup form input {
  width: 100%;
  outline: none;
  padding: 1rem 2rem;
  color: #495567;
  letter-spacing: 1px;
  font-size: .9rem;
  font-family: 'Space Mono', monospace;
  border: 3px var(--yellow)  solid;

}
.signup .button {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.dashboard {
  display: flex;
  flex-direction: column;
gap: 2rem;
  height: 100vh;
  width: 100vw;
}
.countryListContainer {
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: white;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  gap: 5rem;
}
.totalPriceContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  gap: 5rem;
}
.totalPrice {
  width: 25rem;
  height: 30rem;
  background-color: white;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: .5rem;
}
.message {
  min-width: 25rem; 
  height: auto;
  background-color: white;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0;
}
.message .button {
  width: 50%;
}
.totalPrice h5 {
  margin: 0;
}
.totalPrice p{
  width: 100%;
  text-align: left;
}

.totalPrice input, .message textarea, .message input  {
  width: 100%;
  padding: 0.5rem .5rem;
  font-family: 'Space Mono', monospace;
  outline: none;
  color: #495567;
  letter-spacing: 1px;
  font-size: .9rem;
  border: 3px var(--yellow)  solid;
  margin-top: 1rem;
  margin-bottom: 2rem;
  resize: none;
}
.message input {
  margin-bottom: 1rem;
}
.thankyou {
  width: 20rem;
  height: 20rem;
  background-color: white;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: .5rem;
}
.totalPrice .button {
  margin-top: auto;
}
.countryList {
  width: 20rem;
  height: min-content;
  display: flex;
  flex-direction: column;
  
}
.leaflet-container {
  width: 100%;
  height: 50%;
}
.leaflet-popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .3rem;
}
.leaflet-popup-content .button {
  padding: .5rem .5rem;
  width: 80%;
}
table {
  width: 100%;
  margin-top: 2rem;
}

td {
  text-align: center;
  word-break: break-word;
}
tr {
  height: 3rem;
}
td:hover {
  background-color: rgba(246, 177, 39,.15)
}
th:first-child {
  text-align: left;
}
td:last-child:hover {
  background-color: transparent
}
td:first-child {
 text-align: left;
 width: 60%;
}
.button--right {
  background-color: transparent;
  width: 20%;
  margin-top: 5rem;
}
.container--rent {
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.container--rides {
  height: 100vh;
  width: 100%;
  display: flex;
  gap: 4rem;
  padding: 3rem;
}
.container--rides section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rides {
  width: 70%;
}
.settings {
  width: 30%;
  border: 3px var(--yellow) solid;
  padding: 2rem 1rem;
  height: min-content;
}
.settings h4 {
  font-size: 2rem;
}
.settings form {
  width: 100%;
  display: flex;
  margin-top: 2rem;
  flex-direction: column;

  gap: 1rem;
}
.settings input {
  width: 100%;
  outline: none;
  padding: 1rem 2rem;
  color: #495567;
  letter-spacing: 1px;
  font-size: .9rem;
  font-family: 'Space Mono', monospace;
  background-color: rgba(252, 183, 43, .1);
  border: none;
}
.settings .button {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 1rem;
}
.textCenter {
  text-align: center;
}
.logout {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.logout .button--nobackground {
  background-color: transparent;
  color: var(--yellow);
  border: 3px var(--yellow) solid;
}
.leftAlign {
  text-align: left;
}
.container--rent .button {
  padding: .5rem 1rem;
}
.dropdown {
  position: relative;
}
.dropdownList {
  background: white;
position: absolute;
bottom: 10rem;
z-index: 10;
}
@media only screen and (min-width:250px) and (max-width: 820px) {
  /* For mobile phones: */
  h2 {
    font-size: 2.5rem;
  }
  .signup::after {
    display: none;
  }
  .totalPrice {
    height: 35rem;
  }
  .container--rent {
    height: 100%;
  }
  .container--rides {
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
  }

  table {
    display: flex;
    gap: 2rem;
  }
  thead {
    display: flex;
  
  }
  caption {
    display: none;
  }
  
  tr {
    display: flex;
    flex-direction: column;
    height: min-content;
  }
  thead {
    display: none;
  }
 td:last-child {
   border-bottom: 3px var(--yellow) solid;
  }
  .container--rent table {
    display: none;
  }
  .container--rent .button {
    width: 100%;
    margin-top: 5rem;
  }
  th, td {
    margin-top: 1rem
  }
  .rides {
    width: 100%;
  }
  .settings {
    width: 100%;
  }
  .middle {
    gap: 3.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    position: relative;
  }
  .line {
    display: none;
  }
  .line .circle {
    display: none;
  }
  
  .stages {
   
    flex-direction: column;
   
    gap: 5rem;
  }
  .stages div {
    width: 100%;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 0 2rem;
  }
  .stages div h4 {
  
    font-size: 1.8rem;
    word-wrap: break-word;
    width: 100%;
  }
  .stages div p {
    color: hsl(215deg, 5%, 54%);
    width: 100%;
    line-height: 1.5;
  }
  .values {
    
    padding: 15% 0;
   
  }
  .values-cards {
    flex-direction: column;
    padding: 0 2rem;
    gap: 3rem;
  }
  .card {
    width: 100%;
  }
  .faqs {
    padding: 15% 0;
    padding-bottom: 0;
    
  }
  .faqs__content {
    flex-direction: column;
  }
  .faqs__content h5 {
    width: 100%;
  }
  .faqs__content .questions {
    width: 100%;
  }
  .questions h6 {
    font-size: 1.3rem;
  }
  .questions h6:after {
 
    top: 0;
  
  }
  .map {
    height: min-content;
    background-image: none;
   margin-top: 4rem;
  
   padding: 0 2rem;
  }
  .map-picture {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin-bottom: 4rem;
  }
  .pin {
    position: relative;
    left: 0;
    top: 0;
    margin-bottom: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: #495567;
    background-color: rgba(246, 177, 39,.15);
  }
  .location-info {
    padding: 0 2rem;
    flex-direction: column;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    gap: 2rem;
  }
  .location-info__title {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
  }
  .location-info__content {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .location-info .button {
    width: 60%;
    padding-top: .8rem;
  }
  .careers {
    width: 100%;
    margin: 0;
    padding: 0 2rem;
    margin-bottom: 5rem;
  }
  .careers-option {
    width: 100%;
    padding: 0;
    flex-direction: column;
    padding: 2rem 2rem;
    color: #495567;
    gap: 2rem;
    text-align: center;
  }
  .careers-option__title {
    gap: .5rem;
  }
  .careers-option .button {
    width: 100%;
  }
  .pin::after {
    display: none;
  }
}
